apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-cncf-1
  namespace: demo-apps
  labels:
    app: demo-cncf-1
    backstage.io/kubernetes-id: demo-cncf-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-cncf-1
  template:
    metadata:
      labels:
        app: demo-cncf-1
        backstage.io/kubernetes-id: demo-cncf-1
    spec:
      containers:
        - name: demo-cncf-1
          image: quay.io/angelsanchezdev/demo-cncf-1:bd88ef575d2bfef2e267b7a078dc103fac986d2e
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "32Mi"
              cpu: "10m"
            limits:
              memory: "64Mi"
              cpu: "100m"
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 5
